<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 style="font-family: 'Courier New', Courier, monospace;color: green;">HELLO {{user.Name}}! </h3>
    <h2 style="font-family:serif ;font-weight: bolder;">YOUR PASSWORD IS : ' {{user.Password}} '</h1>
    <a href="login"><button style="width: 100px;height: 30px;background-color: blue;color: white;border-radius: 10px;">BACK</button></a>
</body>
</html>